!!!
%html{"ng-app" => "NetZero"}
  %head
    %title Net Zero
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'https://cdn.firebase.com/v0/firebase.js', 'https://cdn.firebase.com/v0/firebase-simple-login.js','application'
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'initial-scale=1, maximum-scale=1'}
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'apple-mobile-web-app-status-bar-style', content: 'black' }

    = ios_startup_image_tag 'iPad/Default-Portrait.png', :ipad, :portrait
    = ios_startup_image_tag 'iPad/Default-Landscape.png', :ipad, :landscape
    = ios_startup_image_tag 'iPad/Default-Portrait@2x.png', :ipad_retina, :portrait
    = ios_startup_image_tag 'iPad/Default-Landscape@2x.png', :ipad_retina, :landscape
    = ios_startup_image_tag 'iPhone/Default-Portrait@2x.png', :iphone_retina, :portrait

    = ios_touch_icon_tag 'iPad/apple-icon_72.png', '72x72'
    = ios_touch_icon_tag 'iPad/apple-icon_144.png', '144x144'
    = ios_touch_icon_tag 'iPhone/apple-icon_57.png', '57x57'
    = ios_touch_icon_tag 'iPhone/apple-icon_114.png', '114x114'

  %body
    = render "partials/header"

    %div(ng-view="")

