!!!
%html{"ng-app" => "bookies"}
  %head
    %title bookies
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'https://cdn.firebase.com/v0/firebase.js', 'https://cdn.firebase.com/v0/firebase-simple-login.js','application'
    = csrf_meta_tags
  %body
    = render "partials/header"
    = yield
